[submodule "plugins/idlErrorManagementPlugin"]
	path = plugins/idlErrorManagementPlugin
	url = git://github.com/idael/idlErrorManagementPlugin.git
[submodule "plugins/bootstrapAdminThemePlugin"]
	path = plugins/bootstrapAdminThemePlugin
	url = git@github.com:astronom/bootstrapAdminThemePlugin.git
